@use './styles/variables';

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/InterVariable.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/InterVariable-Italic.ttf') format('truetype');
}

body{
    margin: 16px;
    font-family: inter;
}
